/* Reset some default styles and set a basic font family */
body {
    margin: 0;
    padding: 0;
    font-family: 'Glass Antiqua', cursive;
    background-color: #90c2ff;
}

/* Display the menu icon by default */

/* Hide the navigation menu by default */
nav ul {
    display: none;
    list-style: none;
    padding: 0;
    background-color: #101010;
    text-align: center;
}

nav li {
    display: inline;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: #470b30;
}

nav a:hover {
    color: #93f06b;
}

/* Style the header */
header {
    background-color: #03042f90;
    color: #f2f1f1;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-family: 'Glass Antiqua', cursive;
    position: relative;
}

header h1:hover {
    animation: flashColor 1s infinite;
}

@keyframes flashColor {
    0%, 100% {
        color: #f2f1f1; /* Original color */
    }
    50% {
        color: #31d2a4; /* Flashing color */
    }
}

header p {
    font-style: italic;
}

/* Style the main content sections */
section {
    padding: 20px;
    background-color: #fffdfd;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

section h1 {
    color: #1f1e1e;
    font-family: 'Glass Antiqua', cursive;
}

section h2 {
    color: #1f1e1e;
    font-family: 'Glass Antiqua', cursive;
}
/* Style the footer */
footer {
    background-color: #577abbe0;
    color: #2a2929;
    text-align: center;
    padding: 10px;
}

.styled-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto; /* Add this property to enable vertical scrolling */
    max-height: 200px; /* Set a fixed height for the menu */
}

.styled-menu li {
    background-color: #f8f8f8;
    margin-bottom: 2px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.styled-menu li:hover {
    background-color: #e0e0e0;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

/* Add styles for the image gallery */
#ImageGallery {
    text-align: center;
    background-color: #fffdfd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.image-gallery-container {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 20px;
}

.image-gallery-container img {
    width: 180px;
    height: 280px;
    margin-right: 10px;
}

html {
    scroll-behavior: smooth;
}

/* Add a class for the blackout effect */
.blacked-out {
    opacity: 0.5; /* You can adjust the opacity to your preference */
    transition: opacity 0.3s; /* Add a transition for a smooth effect */
}

/* Add a class to highlight the section the user is pointing at */
.highlighted-section {
    background-color: #97dbf99f; /* You can choose the highlight color */
    color: #fff; /* Text color for better visibility */
}

.curtain-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #101010;
    z-index: 1000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.curtain-menu-icon {
    display: block;
    cursor: pointer;
}

/* Show the navigation menu on larger screens */
@media screen and (min-width: 769px) {
    .curtain-menu{
        display: none;
    }
        
    .curtain-menu-icon{
        display: none;
    }

    nav ul {
        display: block;
    }

    .styled-menu {
        display: block;
    }
}

/* Show mobile icons on smaller screens */
@media screen and (max-width: 768px) {
    nav ul {
        display: block;
    }

    .styled-menu {
        display: none;
    }

    .curtain-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .curtain-menu ul {
        padding: 0;
        margin: 0;
    }

    .curtain-menu li {
        margin: 10px;
    }

    .curtain-menu a {
        font-size: 18px;
    }
}

.curtain-menu.show-curtain-menu {
    display: flex;
}

.exit-cross {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

.curtain-menu nav {
    text-align: center;
}

.curtain-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.curtain-menu li {
    margin: 20px;
}

.curtain-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
}

.curtain-menu a:hover {
    color: #0e8a7e;
}